html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}


:root {
    --light-gray: #7284a1;
}

.row{
    width: 100%;
}

.input-section {
    gap: 2rem;
    margin-top: 2rem;
}

.todo-input {
    flex-basis: 50%;
}

.list-todo-heading > div {
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 2rem;   
}

.todo-no {
    flex-basis: 3%;
}

.todo-detail {
    flex-basis:50%;
}

.todo-weight{
    flex-basis: 5%;
}

.todo-set{
    flex-basis: 10%;
}
.todo-set label{
    padding: .5px;
    width: 0.5px;
}

.todo-status {
    flex-basis: 10%;
}

.todo-actions {
    flex-basis: 15%;
}

.todo-actions button {
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
}

.todo-item {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.todo-data{
    margin: 0 50px 0 50px;
}

.todo-data > div{
    width: 100%;
}

@media (max-width: 475px) {
    .container{
        width: 100vw;
    }
    .row{
        width: 100vw;
        margin: 0px;
        padding: 0px;
        gap: 0px;
    }
    .list-todo-heading div{
        width: 100%;
        font-size: 0.8rem;
    }

    .list-todo-heading{
        width: 100vw;
        padding: 0px;
        margin: 0px;
        gap: 8px;
    }
    .todo-data-list div{
        font-size: 0.8rem;
    }
    .todo-actions{
        flex-direction: column;
    }
    .todo-actions .btn {
        padding: 0em;
        font-size: 0.8rem;
    }

    .todo-item{
        font-size: 0.8rem;
        padding: 0px;
    }
    .todo-set{
        flex-direction: column;

    }
    .todo-set label{
        width: 34px;
        height: 26px;
        margin-bottom: 5px;
    }
    .todo-detail{      
    margin-left: 7px;
    margin-right: -18px;
    }
    hr{
        margin: 4px;
    }

    .todo-no{
        flex-basis: 4%;
    }
    .todo-detail{
        flex-basis: 38%;
        padding: 0px;
    }
    .todo-weight {
        flex-basis: 13%;
        text-align: center;
    }
    .todo-set {
        flex-basis: 8%;
    }
    .todo-status {
        flex-basis: 14%;
    }
    .todo-actions {
        flex-basis: 14%;
    }
    label.btn{
        border-radius: 0%;
    }

    .
}