.container {
  width: 1536px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* 2xl */
@media (max-width: 1536px) {
  .container {
    max-width: 1280px;
  }
  .burger{
    display: none;
  }
}
  /* xl */
@media (max-width: 1280px) {
  .container {
    max-width: 1024px;
  }
  .burger{
    display: none;
  }
}
/* lg */
@media (max-width: 1024px) {
  .container {
    max-width: 1024px;
  }
} 
  /* md */
  @media (max-width: 768px) {
    .container {
      max-width: 768px;
    }
    .cards{
      margin-left: 20px;
      gap: 1rem;
    }
  .header{
    display: none;
  }
  #burger{
    display: block;
  }
  .skills{
    margin-left: 50px;
  }
  .header.show-header {
    display: block; /* Display the header when the show-header class is present */   
    .cross{
      display: block;
    }
  }
  }

    /* sm */
@media (max-width: 640px) {
  .container {
    max-width: 475px;
  }
  .main{
    width: 100%;
  }
  .more_Projects{
    width: auto;
  }
  .card{
    width: 350px;
    height: 250px;
  }
}

/* xs */
@media (max-width: 475px) {
  .container {
    max-width: 100%;
  }
}
